body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divAbMe {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.about-me {
  padding: 30px 30px 0px 30px;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
  height: 500px;
  width: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about-title {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 20px;
  color: aliceblue;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}

.skills-title {
  font-size: 22px;
  margin-top: 25px;
  color: #333;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}

.skills-list li {
  background-color: #d1b796;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 16px;
  color: #2d2d2d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.photosection{
  justify-content: center;
  align-items: center ;
}
.myPhoto {
  width: 400px;
  height: auto;
  background: rgba(136, 118, 82, 0.558);
  border-radius: 12px;
  box-shadow: 0 0 20px 8px rgba(136, 118, 82, 0.648);
}

/* ---------------- MOBILE RESPONSIVE ---------------- */


@media (max-width: 768px) {

  .divAbMe {
  background-image: url("../../../public/back1.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    gap: 0px;
  }

  .about-me {
    color: aliceblue;
    width: 80%;
    height: auto;
    margin-left: 0;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
  
  border: 3px solid #cc00ff;
  filter: drop-shadow(0 0 6px #cc00ff) drop-shadow(0 0 6px #cc00ff);
  }

  .about-title {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .about-content p {
    color: aliceblue;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .skills-title {
    color: aliceblue;
    font-size: 18px;
    margin-top: 16px;
  }

  .skills-list {
    justify-content: center; 
  }

  .photosection {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .myPhoto {
    display: block; 
    width: 92%;
    max-width: 380px;
    margin: 10px auto 0 auto; 
    background-color: rgba(255, 255, 255, 0.412);
    border: 3px solid #cc00ff;
    filter: drop-shadow(0 0 6px #1c3469) drop-shadow(0 0 6px #cc00ff);
  }
}
