.computerCard {
    width: 560px;
    height: 450px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    align-content: center;
    position: relative;
    left: -50px;
    font-size: 12px;
    color: #000000;
    background: linear-gradient(to bottom, #777777, #cbcbcb);
    border: 6px solid rgba(4, 59, 70, 0.6);
    border-radius: 12px;
    padding: 0px 10px;
    box-shadow: 
    inset 0px 0px 15px rgba(255, 255, 255, 0.919), 
    inset 0px 0px 30px rgba(255, 255, 255, 0.736),
        0 0 50px rgb(255, 255, 255);
}

  .computerCard::before {
    content: "";
    width: 549px; 
    height: 5%;
    background-image: url("/src/images/Status-Bar1.png");
    background-size: 96% 88%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
}

.workstation{
  font-weight: bolder;
}

.workdate {
    display: inline-block; 
    border: 1px solid rgb(255, 203, 130);
    border-radius: 5px;
    padding: 1px 6px; 
    box-sizing: border-box; 
    text-align: center;
    margin-top: 6px;
}
.job{
    margin: 0px;
}


@media (max-width: 768px){
    .computerCard {
      width: 90%;
      height: auto;
      left: -172px;
      transform: translateX(-50%);
      top: 1270px;
      padding: 10px;
      position: relative;
      z-index: 20;
    }
  
    .computerCard::before {
      width: 100%;
      background-size: cover;
      background-size: 96% 88%;
    }
  }
