.computerCard {
    width: 560px;
    height: 420px;
    margin-top: -170px; /* MAS -  mas arriba*/
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    align-content: center;
    position: relative;
    left: -70px;
    font-size: 13px;
    color: #000000;
    background: linear-gradient(to bottom, #777777, #cbcbcb);
    border: 6px solid rgba(4, 59, 70, 0.6);
    border-radius: 12px;
    padding: 0px 10px;
    box-shadow: 
    inset 0px 0px 15px rgba(255, 255, 255, 0.919), 
        inset 0px 0px 30px rgba(255, 255, 255, 0.736),
        0 0 50px rgb(255, 255, 255);
}

  .computerCard::before {
    content: "";
    width: 549px; 
    height: 6%;
    background-image: url("/src/images/Status-Bar1.png");
    background-size: 96% 88%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
}

.workstation{
    font-weight: bolder;
    margin-top: 20px;
}

.workdate {
    display: inline-block; 
    border: 1px solid rgb(255, 203, 130);
    border-radius: 5px;
    padding: 1px 6px; 
    box-sizing: border-box; 
    text-align: center;
    margin-top: 4px;
}
