h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 30px;
  font-size: 30px;
}

.bodyContact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-items: center;
  width: 60%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.cardContact {
  width: 80%;
  height: auto;
  margin-bottom: 0px;
  padding: 30px 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #777777b6, #cbcbcb);
  border: 4px solid rgba(4, 74, 88, 0.6);
  border-radius: 12px;
  box-shadow: inset 0px 0px 80px rgba(255, 255, 255, 0.919), 
              inset 0px 0px 30px rgba(255, 255, 255, 0.736), 
              25px 30px 16px 0 rgba(20, 20, 20, 0.3);
}

.formContact {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 90%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 6px;
  border: 1px solid rgba(255, 209, 69, 0.884);
  font-size: 16px;
}

.divLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0px;
  width: 100%;
}

label {
  font-size: 14px;
  display: block; 
  text-align: center;
}

.input, .messageInput {
  width: 60%;
  padding: 8px 20px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid rgba(255, 209, 69, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.sendButton {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  width:26%;
  height: 50px;
  border: 1px solid rgba(255, 209, 69, 0.8);
  background-color: rgba(0, 0, 0, 0.442);
  color: white;
  border-radius: 6px;
}

.sendButton:hover {
  background-color: #4580a0;
}

@media (max-width: 1024px) {

  .bodyContact {
    background-image: url("../../../public/blue2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-items: center;
    width: 100%;
    height: 100%;
  }

  .h2-contact{
    color: aliceblue;
    padding: 6px;
    background: #0b152ca5;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 16px 10px #080f20a5;
    border-radius: 10px;
  }

  .cardContact {
    width: 76%;
    padding: 30px 30px;
    border: 2px solid #66e0ff;
    filter: drop-shadow(0 0 6px #3c96a8) drop-shadow(0 0 10px #39cbef);
  }

/* 1c3469 */

  .formContact{
    width: 100%;
    border: 2px solid #2660ff36;
    filter: drop-shadow(0 0 3px #0d214fd9) drop-shadow(0 0 3px #02297d);
  }
  .input, .messageInput {
    width: 60%;
    border: 1px solid #8dd3ff;
    filter: drop-shadow(0 0 2px #0091ff36) drop-shadow(0 0 2px #3ca9fc36);
  }
  .sendButton {
    width: auto;
    border: 1px solid #f6e5ff;
    filter: drop-shadow(0 0 2px #4d86aa) drop-shadow(0 0 2px #8dd3ff)
  }
}
