/* Versión Desktop */
.homePage {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-project {
  justify-items: center;
  margin-top: 100px;
  width: 100%;
}

.habilitiesDiv {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-items: center;
}

.myName {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  justify-self: flex-start;
  margin-left: 110px;
}

.h1 {
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff, 
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #fff,
    0 0 50px #fff;
}

.h3 {
  text-align: center;
  font-size: 26px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1px;
  margin-top: 6px;
  text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff, 
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #fff,
    0 0 50px #fff;
}
.misProyectos{
  display: none;
}

.containerButtons {
  display: flex;
  transform: rotate(90deg);
  position: relative;
  top: 330px;
  left: 246px;
}

.tittleButton {
  background-color: #d6ba96;
  position: relative;
  width: 200px;
  padding: 6px 0;
  background: linear-gradient(to bottom, #777777, #cbcbcb);
  border: 2px solid rgba(4, 59, 70, 0.6);
  border-radius: 5px;
}


.tittleButton:hover {
  transition: font-size 0.1s ease;
  font-size: 17px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.projects-container {
  background: linear-gradient(to bottom, #222b34, #f0f0f0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  padding: 40px;
  box-sizing: border-box;
  width: 115%;
  margin-top: 30px;
  box-shadow: 0 0 20px 8px #222b34;
}

.smartphone {
  width: 135px;
  height: 260px;
  background: #010f1d;
  border-radius: 20px;
  padding: 5px 5px 0.5px 5px;
  position: relative;
  box-shadow: 
    30px 16px 14px rgba(84, 107, 122, 0.6),
    20px 10px 12px rgba(0, 0, 0, 0.916);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.smartphone::before {
  content: ""; 
  width: 50px; 
  height: 12px; 
  background: #616161;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.smartphone .screen {
  width: 100%;
  height: 98%;
  background: linear-gradient(to bottom, #e8c16b, #ffffff, #e8c16b);
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.4),
    0 0 60px rgba(255, 255, 255, 0.4);
}

.smartphone .screen a {
  color: #bae9f0;
  border-radius: 20px;
  background-color: #666666;
  border: 1px solid  #d8a014;
  padding: 1.5px 18px;
  text-decoration: none;
  font-size: 10px;
  transition: all 0.3s ease;
}

.smartphone .screen a:hover {
  color: #ffffff; 
  background-color: #88c8db; 
  transform: translateY(-2px); 
}

.projectImage {
  width: 180px;
  height: auto;
  padding: 16px 10px;
}

.projectName {
  margin-top: -70px;
  text-align: center;
}

.projectLink {
  margin-bottom: -90px;
  height: 20px;
  align-content: center;
}

/* Versión móvil (tamaño máximo 768px) */
@media (max-width: 1024px) {
  .homePage {

    background-image: url("../../../public/back1.JPG");
    background-repeat:repeat-y;
    display: flex;
    padding: 20px;
    align-items: flex-start;
  }

  .welcome-project {
    justify-items: center;
    width: 100%;
  }

  .h1 {
    color:#1530a7;
    font-size: 40px;
    text-align: center;
    padding: 0px 30px;
    margin-top: 10px;
  }

  .h3 {
    color: #1530a7;
    font-size: 22px;
    text-align: center;
    padding: 0px 30px;
    margin-top: 50px;
  }

  .habilitiesDiv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .containerButtons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transform: rotate(0deg);
    margin-top: 250%;
    left: 5%;
    width: 90%;
    position: absolute;
    filter: drop-shadow(0 0 6px #cc00ff) drop-shadow(0 0 6px #cc00ff);
  }

  .tittleButton {
    transform: rotate(0deg);
    width: 100%;
    padding: 8px 0;
    padding: 16px 10px;
    border-radius: 80px;
    border: 2px #e1bdff;
    background: #c279fe;
  }

  .misProyectos{
    display: block;
    margin-left: 25%;
    margin-top: 120px;
    font-size: 26px;
    color:#f1f1f1;
}
  .projects-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    gap: 30px;
    padding: 10px;
    background: none;
    box-shadow:none;
    margin-top: 40px;
  }

  .smartphone {
    width: 90%;
    margin-bottom: 20px;
    border: 2px solid #489dff;
    filter: drop-shadow(0 0 3px #0a5aaa) drop-shadow(0 0 3px #2391ff);
    box-shadow: none;
  }

  .projectImage {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  .smartphone .screen {
    width: 100%;
    height: 98%;
    background: linear-gradient(to bottom, #6589bc, #ffffff, #659cbc);
  
  }
  
}
