  .myInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    left: -260px; 
    bottom: 80px;
    width: 220px;
    background: linear-gradient(to bottom, #777777, #cbcbcb);
    border: 4px solid rgba(4, 74, 88, 0.6);
    border-radius: 12px;
    box-shadow: 0 0 40px rgb(255, 255, 255);
    padding: 16px;
  }
    
  .card {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgba(255, 209, 69, 0.8);
  }
  
  img {
    width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .name {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 197, 91, 0.7), 0 0 2px rgba(255, 255, 255, 0.5);
    font-size: 16px;
  }
  
  a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(227, 190, 105, 0.8); 
  }
  a:hover{
    color:#ffffff;
    transition: font-size 0.ç2s ease;
    font-size: 16px;
    text-shadow: 0 0 5px rgba(112, 244, 251, 0.8);
  }
  