/* Mobile First: Estilos para pantallas pequeñas */
* {
    margin: 0;
    padding: 0;
  }
  
  button:hover {
    border: none;
  }
  
  .navBar {
    background-color: #002448bb;
    height: 6%; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0px 10px; 
  }
  
  .ulList {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #002448bb;

  }
  
  .ulList.open {
    max-height: 500px; /* Cuánto mida el menú abierto */
  }
  
   .aboutMe, .projects, .contact {
    padding: 10px 20px; 
    font-size: 16px; 
    margin: 8px 6px; 
    text-align: center;
    background-color: #589ea5;
    color: #ffffff;
    border: 2px solid #90d1ff;
    filter: drop-shadow(0 0 4px #48a6b0) drop-shadow(0 0 3px #67f0ff);
  }
  .home{
    font-size: 16px; 
    margin: 8px 6px; 
    text-align: center;
    background-color: #a2d2d6;
    color: #012b58;
    border: 2px solid #bce3ff;
    filter: drop-shadow(0 0 4px #48a6b0) drop-shadow(0 0 3px #67f0ff);
  }

  .hamburguer {
    display: block; 
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin: 6px 0px 0px 8px;
    filter: drop-shadow(0 0 2px #2447a8) drop-shadow(0 0 3px #9fb9ff);
  }
  
  /* Estilos para pantallas de ordenador y dispositivos grandes */
  @media (min-width: 768px) {
   
    .navBar {
      padding: 0 20px;
      height: 60px;
      position: fixed;
      background-color: rgb(88, 96, 114);
    }
  
    .ulList {
    display: flex;
    flex-direction: row; 
    position: static;
    background-color: rgb(88, 96, 114);
        /* Ahora para que se vea tambien el navbar en pantalla grande */
    list-style: none;
    max-height: none;
    overflow: visible;
    opacity: 1;
    transform: none;
    transition: none;
    }
  
    .home {
      margin: 0px 500px 0px 100px;
      font-size: 18px;
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
      color: #ffffff;
      background: none;
      border: none;
      filter: none;
    }
  
    .aboutMe, .projects, .contact {
      padding: 0px 80px 0px 80px;
      margin-top: 10px;
      background: none;
      border: none;
      filter: none;
    }
  
    .skills {
      padding: 0px 70px 0px 80px;
      margin-top: 10px;
    }
    .hamburguer{
        display: none;
    }
  }
  
  /* Ajustes para pantallas muy grandes (por ejemplo, más de 1200px) */
  /* @media (min-width: 1200px) {
    .home {
      margin: 0px 600px 0px 120px; 
    }
  
    .aboutMe, .projects, .contact {
      padding: 0px 90px 0px 90px;
    }
  } */
  