/* EDITA SÓLO EL NAVBAR, que qudeda importado en el App.jsx para que funcionen los estilos */

*{
    margin: 0;
    padding: 0;
}

button:hover {
    border: none;
}

.navBar {
    background-color: rgb(88, 96, 114);
    border: none;
    height: 60px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    padding: 0 20px;
}

.ulList{
    font-size: 16px;
    color: white;
    list-style: none;
    font-family: inherit;
    display: flex;
    padding: 10px;
}

.home{
    background: none;
    margin: 0px 500px 0px 100px;
    font-size: 18px;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
    color: #ffffff;
 
}

.aboutMe{
    background: none;
    color: #ffffff;
    padding: 0px 70px 0px 80px;  /*Mover a partir de aqui a la derecha */
    margin-top: 10px;
}

.projects{
    background: none;
    color: #ffffff;
    padding: 0px 70px 0px 80px;
    margin-top: 10px;
}

.skills{
    background: none;
    color: #ffffff;
    padding: 0px 70px 0px 80px;
    margin-top: 10px;
}

.contact{
    background: none;
    color: #ffffff;
    padding: 0px 70px 0px 80px;
    margin-top: 10px;
}
