.tablet1{
    color: white;
    width: 400px;
    height: 300px;
    left: -110px;
    bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    align-content: center;
    position: relative;
    font-size: 14px;
    color: #000000;
    background: linear-gradient(to bottom, #777777, #cbcbcb);
    border: 6px solid rgba(4, 59, 70, 0.6);
    border-radius: 12px;
    box-shadow: 
        inset 0px 0px 15px rgba(255, 255, 255, 0.919), 
        inset 0px 0px 30px rgba(255, 255, 255, 0.736), 
        12px 14px 10px 0 rgba(20, 20, 20, 0.551);
    
}
.tablet1::before {
    content: "";
    width: 388px; 
    height: 6%;
    background-image: url("/src/images/Status-Bar1.png");
    background-size: 96% 88%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
}

.tablet1::after {
    content: "";
    width: 92px; 
    height: 12px; 
    background: #616161;
    border-radius: 20px;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
.aboutMeInfo{
    padding: 4px 10px;
    font-size: 12px;
}

.aboutMeInfo:nth-child(1) { 
    font-weight: bold;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 6px;
}

.aboutMeInfo:nth-child(3) { 
    font-weight: bold;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color:darkred;
  }