.skillsStacks{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.ulSkillsStack{
    width: 150px;
    margin-top: 12px;
    list-style: none;
    line-height: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid rgba(255, 209, 69, 0.8);
    box-shadow: 0 0 40px rgb(255, 255, 255);
    line-height: 30px;
}
.skillsStackName{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.859), 0 0 2px rgba(255, 255, 255, 0.781);
}

@media (max-width: 768px){
    .ulSkillsStack{
        border: 1px solid #a4d3ff;
        filter: drop-shadow(0 0 3px #003662) drop-shadow(0 0 2px #4477cd);
    }
    .skillsStacks{
        display: flex;
        justify-content: center;
        gap: 0;
    }

.ulSkillsStack{
    width: 170px;
    margin: 10px 12px;
    padding: 10px 0px;
    border-radius: 6px;
}
.skillsStackName{
    margin: 20px 0px 10px 0px;
}

}